@import "./list.scss";
@import "./stores.scss";

body{
    h1{
        color: red;
    }
    .container{
        padding: 0 5%;
        margin: 0 auto;
        height: 90vh;
        .list{
            @include list();
        }

        .stores{
            @include stores();
        }
    }
}
