@mixin list(){
    display: inline-block;
    width: 50%;
    height: 100%;
    overflow: scroll;
    vertical-align: top;
    background: rgba(206, 206, 255, 0.5);

    ul{
        list-style: none;

        li{
            text-align: center;
            width: 50%;
            //padding: 10px 0;
            height: 40px;
            margin: 5px 0;
            border: 1.5px solid white;
            border-radius: 15px 50px;
            transition: all 0.1s linear;
            overflow: hidden;
            background: rgba(185, 236, 75, 0.5);

            div{
                display: inline-block;
            }

            div:first-child{
                margin-top: 10px;
            }
            
            .list-remove-icon{
                position: relative;
                float: right;
                width: 40px;
                height: 40px;
                border-radius: 0 50px 15px 0;
                background-image: url("../img/x.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: transparent;
            }

            &:hover{
                transform: translate(5%);
            }
        }
    }
}
