@mixin stores(){
    display: inline-block;
    width: 50%;
    height: 100%;
    overflow: scroll;
    margin: 0 auto;
    text-align: center;
    background: #02F78E;   

    .store{
        display: inline-block;
        width: 25%;
        margin: 10px;
        transition: all 0.3s linear;

        &:hover{
            transform: scale(1.2, 1.2);
        }
    }
}
